version: "3.9"

services:
  backend:
    image: backend
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ecommerce-backend
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: unless-stopped
